[2015-10-28 08:28] karbica opened #6 "list index out of range"
Thanks for this repo, it has potential. I thought about using another Python constraint library to do the same thing but I thought I'd play with this one.

First off, you should consider using Buildout so that the dependencies are met. I had to get three modules before I could get to this point.

<img width="962" alt="screen shot 2015-10-28 at 1 24 20 am" src="https://cloud.githubusercontent.com/a

[2015-10-28 11:52] BenBrostoff commented on #6
Thanks Kevin - I agree with all these comments. Regarding the error you're getting - the issue here is that you don't have the DraftKings data necessary to run the script. I've updated the <code> README.md </code> with additions on setup here - <a href="https://github.com/BenBrostoff/draft-kings-fun/commit/4519097dc18aabb1c4a43a2a00bba36296904882" target="_blank"> please see this commit </a>. Let

[2015-11-30 19:43] djbrooks111 commented on #6
I am too getting the "list index out of range" as @karbica, however, the rosters are still outputted correctly.  My system is setup properly following your instructions, I am on my work computer right now, and so if it would help, when I get home, I can upload my .csv files in /data

[2015-11-30 22:09] BenBrostoff commented on #6
@djbrooks111 @karbica I should note too this output is a little deceiving and it should probably be squashed or the parsing should be improved (there's not an issue in the scraping, it's just the structure of the HTML from FanPros). I will work on a change so others don't encounter this problem.

[2015-12-01 00:32] BenBrostoff commented on #6
@djbrooks111 @karbica This commit should resolve the aforementioned scraping issues:  c335ab20ad1fcdb7b01578add1d7409b7739cff8. I'll close this issue unless this still isn't working for either of you - here's a screenshot of running the script for this week's Millionaire Maker:

![screen shot 2015-11-30 at 7 31 30 pm](https://cloud.githubusercontent.com/assets/6991348/11488968/fdea2530-9798-11e5-9

[2015-12-01 13:10] #6 closed

[2016-09-10 15:21] mrooney401 opened #14 "exception error"
him new to python, I'm getting this error
Traceback (most recent call last):
  File "optimize.py", line 196, in <module>
    rosters.append(run(POSITIONS[args.l], args.l, remove))
  File "optimize.py", line 107, in run
    raise Exception('No solution error')
Exception: No solution error

any advice? much appreciated.

[2016-09-10 19:13] BenBrostoff commented on #14
This error happens when there's no solution based on your command line arguments. I'll make sure to handle it more gracefully. What's your command line query look like?

For this week (9/11), I am able to get projected lineups playing the standard contests. See the screenshot below:

![screen shot 2016-09-10 at 3 12 43 pm](https://cloud.githubusercontent.com/assets/6991348/18412935/12409d42-7769-1

[2016-09-10 21:04] BenBrostoff commented on #14
I think c62511f5566a0c95e79ae851a53415f393963929 addresses this one; closing this issue.

[2016-09-10 21:04] #14 closed

[2016-10-05 02:19] audiolion opened #22 "Documentation and CLI"
Hey man!

This is an awesome gem that I came across when I was looking to start working on something similar. I went through the entire codebase, ran different parts of it, stepped through some debug traces and such primarily to figure out how it worked. From the perspective of someone who knows nothing going through the README I think I can offer some edits and help to make it more clear how the

[2016-10-05 02:56] BenBrostoff commented on #22
@audiolion Help would be greatly appreciated, and definitely submit a PR! The README clearly is outdated (Brian Hoyer as Texans QB example 1A) and also doesn't document some of the flags I use every week (`--banned`, `--teams`, etc.).

I like your ideas on projections. I've struggled to find good historical data outside of the NFL's official fantasy API, so that's been a little of a limiting facto

[2016-10-06 04:28] audiolion commented on #22
haha agree with you there, ok this weekend I will poke around a bit and see what I can do

[2016-10-06 04:28] #22 closed

[2016-10-27 01:15] kacperadach opened #29 "Use dynamic paths for files"
It would be v nice if we could no longer use code to open files such as:

[code]

With this being used as a submodule in the other repo, I get errors related to paths all the time. Instead if we could use python's os.path to get the path relative to the file the code is in then it could be guaranteed to work.

[code]

[2016-10-27 02:32] BenBrostoff opened #30 "Do some housecleaning"
Stuff like `data_cleaning_constants` should be in data. The whole repo could use a little reorganization.

[2016-10-27 02:33] BenBrostoff opened #31 "Separate out NBA stuff"
I started working on some NBA utilities last year but it's messily lumped into `optimize.py`. We should break this into a separate module and find some good data sources for it.

[2016-10-29 19:29] BenBrostoff opened #32 "Player historical data flags"
- Include all week point totals, along with utility methods like `high`, `low`, `average`, `st_dev`, etc. in `Player`
- Allow flags for creating lineups based on aforementioned methods

[2016-11-13 17:24] Nishkixs opened #33 "NFL_Draftkings module does not exist"
Hi,

I am running the command python optimize.py -pids ../../Downloads/DKSalaries.csv and getting

NFL_Draftkings module does not exist.

I'm new to python and coding in general but any guidance would be awesome.

Best,
Nishon

[2016-11-13 18:37] BenBrostoff commented on #33
@Nishkixs Hey there - did you try:

[code]

This will install the necessary dependencies for this project. Also, you'll need `ortools` as well, and [you can find installation instructions here](https://developers.google.com/optimization/installing).

Let me know if this helps at all.

[2016-11-13 18:58] Nishkixs commented on #33
HI Ben,
Thanks for getting back to me. I  ran those commands and and am now getting a  `No module named requests_cache`

So I ran
`sudo pip install requests` and `sudo -H pop install requests`. And got the following

[code]

but im still getting the same error of ```No module named requests_cache```
when I run ```python optimize.py -pids ../../../Downloads/Template.csv ```

[2016-11-13 19:30] BenBrostoff commented on #33
`requests_cache` is actually a separate module - did you try:

[code]

Either way, the `requirements.txt` is clearly behind what's actually necessary, so I'll update it.

[2016-11-13 20:07] Nishkixs commented on #33
Ben,

Thanks so much it works! I appreciate your help.

Best,
Nishon

[2016-11-13 20:07] #33 closed

[2016-11-25 13:49] BenBrostoff opened #34 "Deal with multi-position players cleanly"
Applies for NBA where DraftKings will list players as `PF/SF` or something similar - the optimizer should handle this by placing the player in the optimal position. Right now, it simply picks the first position (`PF` in the `PF/SF` example) and uses that one.

[2016-11-28 01:28] BenBrostoff opened #36 "Add CSV upload functionality for NBA"
Currently exists for NFL - same structure can be used.

[2016-12-23 19:55] chppppp opened #37 "Banning Defense?"
Happy holidays all :) Is there a quick hack to support banning defenses? I've been digging around but figured I would ask!

Thanks!

[2016-12-23 21:20] BenBrostoff commented on #37
@chppppp This is definitely possible. I will poke around and get back to you by Saturday. Happy holidays to you! :+1:

[2016-12-23 21:52] chppppp commented on #37
Thanks Ben. If i come up with anything I'll update here.

On Dec 23, 2016 4:20 PM, "Ben Brostoff" <notifications@github.com> wrote:

[2016-12-23 23:43] BenBrostoff commented on #37
@chppppp This looks like a weird formatting issue. Most recent commit should resolve. Using the current week's data for all Saturday games with Rotogrinders as my source, here's what I get:

[code]

If I eliminate the Chargers D, it looks like the Patriots replace them:

[code]

Let me know if this works for you.

[2016-12-24 02:38] chppppp commented on #37
It works! Thank you sir.

[2016-12-24 02:38] #37 closed

[2016-12-25 17:18] #36 closed

[2017-01-08 06:09] rneu31 commented on #34
Do you have any idea on how to solve this? I stumbled across this code after writing an almost equivalent (just for NBA) solver myself...

This post helps explain the math quite a bit .. might be helpful: https://orbythebeach.wordpress.com/2015/09/29/how-to-build-the-best-fantasy-football-team-part-2/

[2017-01-08 17:20] BenBrostoff commented on #34
That's a fantastic post, although I must admit a lot of the math is over my head.

One super naive solution I've kicked around a bit is to create two instances of the player, one at each position, and then add an `is_multi_position` property to `Player`. I maybe then could use `ortools` to ensure it's impossible to end up with the same player at two different positions.

This is definitely a top p

[2017-01-08 17:39] swanson commented on #34
I think you're on a reasonable path Ben: I would have said make two "players" -- one for each position -- and then add an additional constraint that you can only have one of the two "duplicate" players. You could do that pretty easily in code I'd imagine.

[2017-01-09 01:44] BenBrostoff commented on #34
@rneu31 I think [this PR I just merged resolves this issue](https://github.com/BenBrostoff/draft-kings-fun/pulls). Let me know if this works for you - I tested in a few NBA contests (which I'm playing tonight :-)) / wrote a unit test for it and seems to be okay.

@swanson Thanks for the guidance here, your recommendation worked great.

[2017-01-09 21:45] rneu31 commented on #34
@BenBrostoff I ended up writing a completely functioning equivalent using pulp because that's all I was familiar with.

Figured I'd toss the design here since I shared the article that this was largely based on:
I created an array of bools for each possible position for each player, `Chris Paul: [x_ChrisPaul_PG, x_ChrisPaul_SG, ... x_ChrisPaul_C]`, detected the players actual position, in this cas

[2017-01-10 01:42] BenBrostoff commented on #34
Awesome, would be glad to have your help! Thanks for encouraging me to work on this.

[2017-01-10 01:42] #34 closed

[2017-01-11 17:27] chppppp opened #40 "NBA Lineups Design"
Before I dive into making an attempt to provide some usefulness to this repo I just wanted to check whether my results are expected.

When I optimize a NBA Roster I generally will have to ban some players in order to satisfy the DK position constraints (PG,SG,SF,PF,etc...). Is this expected behavior or should I always be getting a lineup that easily fits into my DK lineup? I pulled this roster tod

[2017-01-11 19:37] BenBrostoff commented on #40
I have noticed sometimes that if you just add players sequentially, DraftKings will put them in the "wrong" spot (assuming you're just searching and adding), but your example seems legitimate / I think this may have happened to me a while ago and I ignored it.

Do you mind sending me the CSV so I can replicate and work on?

[2017-01-11 23:47] chppppp commented on #40
[csvs.zip](https://github.com/BenBrostoff/draft-kings-fun/files/700378/csvs.zip)

[2017-01-14 14:35] BenBrostoff commented on #40
Awesome, was able to replicate with your CSV. Going to work on fixing today.

[2017-01-14 16:01] BenBrostoff commented on #40
@chppppp I think my most recent PR resolves this issue - I added a unit test using the data you gave me and entered a few contests this morning with no problem. There's now explicit limits guaranteeing at least 3 guards and 3 forwards (and setting a maximum of 4 guards, 4 forwards and 2 centers). Let me know if you encounter any more issues here.

Also, re: your first post on this issue on helping

[2017-01-14 16:02] BenBrostoff commented on #31
Resolving because this has already been done.

[2017-01-14 16:02] #31 closed

[2017-01-14 16:02] #30 closed

[2017-01-14 16:04] BenBrostoff commented on #32
Update here - this has been done for NFL, but still needs a good / consistent data source for NBA. The NBA official API I think has all the statistics we need, but we'd still need to write the conversion code to Draft Kings points.

[2017-01-14 16:09] BenBrostoff opened #42 "Add college basketball"

[2017-01-14 16:11] BenBrostoff opened #43 "Improve testing"
- [x] Use `assert_equal` instead of `assert` in `nosetest`
- [x] Show code coverage
- [ ] Separate tests by sport

[2017-01-16 21:58] BenBrostoff commented on #40
Closing this one since I've been using for a few contests over the last few days without issue 👍

[2017-01-16 21:58] #40 closed

[2017-01-18 23:32] chppppp commented on #40
Sorry for the late reply. Your fix looks good.

I'll take a peek at the to-do list.

[2017-02-16 20:23] chppppp opened #44 "nba RENAMES"
idk how to perform a commit or a pull request so ill just post the issue. Update this:

data_cleaning_constants.py
RENAMES = [
        #{'dk_name': '', 'name': ''},
    {'dk_name': 'Maurice Harkless', 'name': 'Moe Harkless'},
    {'dk_name': 'Larry Nance Jr.', 'name': 'Larry Nance'},
    {'dk_name': 'Glenn Robinson III', 'name': 'Glenn Robinson'},
    {'dk_name': 'Cristiano Felicio', 'name': 'Cris

[2017-02-16 20:23] #44 closed

[2017-02-16 20:24] chppppp commented on #44
closed for discretion.

[2017-02-20 18:59] BenBrostoff opened #45 "Create pre-commit hooks"
Lint should run prior to commit.

[2017-02-27 20:58] chppppp opened #46 "Lock and Vs_Avg use"
If I set my vs_avg to a certain number and then I lock a player who is outside of that vs_avg, the player does not lock.

Can the locking feature happen outside of the vs_avg constraint?

Thanks!

[2017-02-28 02:48] BenBrostoff commented on #46
@chppppp I'll take a look - thanks for letting me know!

[2017-03-12 21:09] BenBrostoff opened #47 "Add ability to average projection sources"
Additional features:

- Run projections that take maxes from sources
- Run projections that take mins from sources

[2017-03-18 16:18] BenBrostoff commented on #46
@chppppp Great catch - this issue was actually impacting a bunch of other filters as well - they would just wipe out the locks. Now resolved I think 👍

[2017-03-18 16:18] #46 closed

[2017-03-22 11:50] BenBrostoff opened #48 "Data directory doesn't exist in source control"
This makes it annoying to get set up after a fresh clone.

[2017-03-28 18:30] chppppp opened #49 "missing player from lineup"
[328 - Copy.txt](https://github.com/BenBrostoff/draft-kings-fun/files/876683/328.-.Copy.txt)

The attached CSV will produce a lineup with only 8 players. I am poking around but figured I would post.

+------------+-----------------------+------+--------------------+--------+------------+----------+--------+
| Position   | Player                | Team | Matchup            | Salary | Projection | vs

[2017-03-28 18:31] #49 closed

[2017-03-28 18:31] chppppp commented on #49
brain fart for a sec there =/

[2017-04-02 16:28] BenBrostoff opened #50 "Add ability to ban teams"

[2017-08-05 19:54] BenBrostoff opened #51 "Incompatible with Python 3"
Would need to change testing too. Possible use [tox](https://tox.readthedocs.io/en/latest/).

[2017-08-26 00:20] elwill23 opened #53 "I keep getting this error"
Traceback (most recent call last):
  File "nfl/prepare_data.py", line 7, in <module>
    with open(dk_csv, 'rb') as f:
IOError: [Errno 2] No such file or directory: 'data/current-salaries.csv'

[2017-08-26 00:38] elwill23 commented on #53
ok I figured it out you have to make a data folder

[2017-08-27 01:45] BenBrostoff commented on #53
Thanks for pointing this out @elwill23  - [resolved with this commit](https://github.com/BenBrostoff/draft-kings-fun/commit/a23f766318ee55d9c84fa76694024a1438cf06be).

[2017-08-27 01:45] #53 closed

[2017-09-09 19:58] cabish opened #55 "Mismatched Names"
~/draft-kings-fun/data$ grep Todd *
current-projections.csv:Todd Gurley LAR ,17.59
current-salaries.csv:RB,Todd Gurley II,6000,IND@LAR 04:05PM ET,12.450,LAR

[2017-09-09 21:29] BenBrostoff commented on #55
Alright @cabish , this should work now via 3f3f1c18f61f452917d62b0584603c5519ca92b9. Note that I decided to make the DraftKings naming scheme the single source of truth, so any data scraped through the library will now use these names. If you decide to use your own projections, you will need to use the DraftKings names.

Previously, I was transforming the DraftKings data through `scripts/prepare_n

[2017-09-09 21:29] #55 closed

[2017-09-09 21:31] #48 closed

[2017-09-16 19:00] BenBrostoff opened #56 "Concatenate player names and teams"
Not doing this is causing an issue right now with `Michael Thomas` and a few others. This will allow `DUPLICATES` to finally be retired, because this was a dumb solution.

[2017-09-16 19:00] BenBrostoff commented on #56
Scraping / projection handling will also have to change here.

[2017-11-13 21:07] rmeyer1 opened #57 "MissingPlayersException"
Hello -

I downloaded a Salaries.csv off DraftKings, and ran the bash script (sudo bash scripts/prepare_nba_contest_data.sh) which appeared to work fine.

However, when I ran the optimizer script(sudo python optimize.py -league NBA -source nba_rotogrinders) I received the following error:

Traceback (most recent call last):
  File "optimize.py", line 338, in <module>
    rosters.append(run(args.le

[2017-11-14 13:34] BenBrostoff commented on #57
Hey @rmeyer1 - this will happen if Rotogrinders upgrades their projections to the next day if you're using the `DKSalaries.csv` from DraftKings for the current day. You can check out the unit tests in `test/test_command_line.py` as reference for what CSV formats are expected.

I also just ran `python optimize.py -league NBA -source nba_rotogrinders` for today without issue;
 [here are the CSVs on

[2017-11-14 21:50] rmeyer1 commented on #57
Hey Ben -

Thanks for getting back to me! That makes sense as I was also able to run
it successfully this morning.  I will use the unit tests next time before
opening an issue.  I have really enjoyed your optimizer, it has been very
fun to play with over the last couple of days.

One other question I did have, in reading through the optimize.py --help I
was looking for a way to exclude specific in

[2017-11-16 01:51] BenBrostoff commented on #57
@rmeyer1 I'll looking into this; very possible NBA does not work with locking.

[2017-11-16 14:11] BenBrostoff commented on #57
@rmeyer1 I'm not seeing this issue. Please see the screenshot below - I've eliminated Kevin Durant from tonight's lineup, who is in the optimial lineup without the `banned` flag.

<img width="820" alt="screen shot 2017-11-16 at 9 07 42 am" src="https://user-images.githubusercontent.com/6991348/32895416-ff491b12-caad-11e7-875d-42fd3a9a2b42.png">

Going to close this issue since I want to avoid this

[2017-11-16 14:11] #57 closed

[2017-11-16 15:18] rmeyer1 commented on #57
Hey Ben -

Could you send me an invite to the Slack channel?

Regards,
Rob

On Thu, Nov 16, 2017 at 9:11 AM, Ben Brostoff <notifications@github.com>
wrote:

[2018-01-03 00:36] sedemmler commented on #43
Mind if I have a go at this? If so, any specifics you want to talk through? Or is this project somewhat abandoned? (I'm cross posting this basic thing in the college BB section, feel free to delete one of the comments when you respond.)

[2018-01-03 00:36] sedemmler commented on #42
Mind if I have a go at this? If so, any specifics you want to talk through? Or is this project somewhat abandoned? (I'm cross posting this basic thing in the college BB section, feel free to delete one of the comments when you respond.)

[2018-01-03 00:59] BenBrostoff commented on #42
@sedemmler Absolutely, definitely take this one. This project is alive and well; saw you joined the Slack channel. Re: college basketball, it might be useful to refer to [@swanson's optimizer project](https://github.com/swanson/degenerate), which heavily influenced mine and has already implemented college basketball. You'll probably need to make changes to `optimizer.py` and `orm.py`. E-mail me an

[2018-01-03 01:06] sedemmler commented on #42
Perfect. I found the Slack channel after posting here. I'll take a look this week at @swanson's project and then try to knock something out this weekend. Unless it's necessary to jump on here, I'll probably stick to Slack for now. Thanks!

[2018-01-03 14:38] sedemmler commented on #42
So, DraftKings has dropped all college sports from its slate of offerings. So I think we can safely close this issue.

[2018-01-03 17:09] #42 closed

[2018-01-05 13:33] BenBrostoff opened #59 "Add optimizer for Pick'Em contests"
This isn't really an optimizer since players just choose from five tiers without salary constraints. The naive approach which will be first iteration here is just choosing the max projected in each tier. Note that DK also offers lineup upload here, so we will want to have that functionality and tests as well.

<img width="460" alt="screen shot 2018-01-05 at 8 40 50 am" src="https://user-images.git

[2018-01-13 15:43] BenBrostoff commented on #59
Complete [via this PR](https://github.com/BenBrostoff/draft-kings-fun/pull/60)

[2018-01-13 15:43] #59 closed

[2018-01-14 21:32] BenBrostoff opened #61 "Improve Docker setup"
- [ ] Volumize
- [ ] Add README instructions
- [ ] `docker-compose`

[2018-01-19 02:50] ravashjalil opened #62 "Generate N Lineups Without Removing Random Player"
Hi, great app you got here, I've never been able to truly understand google or tools to the fullest, but it's extremely fast and that's what got me interested in your app.

The issue I'm having is trying to generate let's say 100 lineups in the NBA, without randomly removing a player, just rather based on total projected points.  I understand you implemented the randomness to get rid of similar li

[2018-01-20 15:15] BenBrostoff commented on #62
Hey @ravashjalil - there are a number of options you have here depending on how you want to go about constructing lineups. Let's say you want to remove the lowest value player ([see this blog post for an explanation of value](https://medium.com/draftfast/thinking-in-multiples-7e7c76ee2b1d)).

Instead of something like this that just removes a random player:
[code]

You could remove the lowest valu

[2018-01-20 15:15] #62 closed

[2018-01-20 16:20] BenBrostoff opened #63 "Make pip module"
The [API here seems interesting](http://pydfs-lineup-optimizer.readthedocs.io/en/latest/usage.html#example-of-base-usage) and could serve as a model.

[2018-04-21 20:05] BenBrostoff opened #67 "Abstract CSV upload"
CSV upload should be simplified and done the same way across leagues. This PR does some [refactoring](https://github.com/BenBrostoff/draft-kings-fun/pull/66). The function signature for `update_upload_csv` now takes a roster and the function body is shorter. This PR should remove the different files for different CSV downloads in favor of one module that can take league params.

[2018-04-22 15:10] BenBrostoff opened #68 "Add flag to prevent opposing hitters from being selected for pitcher"

[2018-04-27 13:16] BenBrostoff opened #69 "Users should be able to pick file name / location of generated CSV projections"
Current:

[code]

This should be configurable and not hard coded.

[2018-04-28 16:08] #69 closed

[2018-05-01 12:53] BenBrostoff opened #72 "FanDuel prevents more than 4 players from single team"

[2018-08-11 13:11] sedemmler commented on #43
It's been so long I've gotten a bit too busy and committed to some other work. Sorry, man.

[2018-08-11 14:59] BenBrostoff commented on #43
No problem @sedemmler

[2018-08-11 14:59] #43 closed

[2018-09-14 19:59] BenBrostoff opened #76 "Fix None handling in roster euq"
From a user:

![image](https://user-images.githubusercontent.com/6991348/45572396-2b104a00-b837-11e8-80e8-d03ae1442c76.png)

[2018-09-14 20:16] BenBrostoff commented on #76
Fixed with [this commit](https://github.com/BenBrostoff/draft-kings-fun/commit/9939673a9b3ff08ba55bc1f69cee161ee06bb4b9).

[2018-09-14 20:16] #76 closed

[2018-09-14 22:39] BenBrostoff commented on #56
Closing - `solver_id` fixes this.

[2018-09-14 22:39] #56 closed

[2018-09-14 22:40] BenBrostoff commented on #45
Closing - this should be on developer.

[2018-09-14 22:40] #45 closed

[2018-09-16 17:06] BenBrostoff opened #78 "Flag no_double_te not working"

[2018-09-16 18:18] BenBrostoff commented on #78
Resolved by `3f4e9176350c105e698ec347a6498eecf959048b`

[2018-09-16 18:18] #78 closed

[2018-09-19 22:07] adamdarr opened #81 "No matching distribution found for ortools==6.8.5452"
Running `python2 -m pip install -r requirements.txt` gives me the following error:

[code]

Has anyone else run into this?

[2018-09-19 23:17] BenBrostoff commented on #81
@adamdarr I get the same error. This PR was just merged in and I admittedly didn't test it since it passed the CI build. I'll roll this back 👍

[2018-09-20 14:38] adamdarr commented on #81
@BenBrostoff Works now. Thanks.

[2018-10-27 19:42] BenBrostoff opened #82 "Support player pools"
The idea here would be to be able to pass the optimizer a subset of the slate and have these be the only players the optimizer can choose from.

The next part here (which would be substantially more difficult) would be to allow passing a pool and maximum exposures as a CSV that looks something like this:

[code]

Any player with a percentage not specified would be assumed to be allowed to be 100%

[2018-10-28 23:14] BenBrostoff commented on #82
After discussing, this would be:

[code]

[2018-11-01 14:27] BenBrostoff opened #83 "Show accurate FanDuel NBA outputs"
FanDuel drops the worst performance for NBA.

[2018-11-15 18:06] BenBrostoff opened #85 "Build and add instructions not running as a CLI"
From discussions with people using this project (and my own workflow), I realize `run` is the core functionality most people care about (and that's a bad name - it really should be called `optimize`).

This would be exposed in a pip module if I ever ship one. Ideally, this library could be easily added to whatever scripts people have for their DFS workflow and it could be extended to any game that

[2018-11-22 16:51] sharkiteuthis opened #86 "duo/dtype not implemented?"
I'm working off my branch and it doesn't seem like the 'duo' and 'dtype' constraints are actually implemented. Are these stashed on another branch somewhere?

[code]

[2018-11-23 00:51] sharkiteuthis commented on #86
PR #87

[2018-11-23 01:31] sharkiteuthis commented on #82
I made [a branch](https://github.com/sharkiteuthis/draft-kings-fun/tree/exposure-limits) that builds on yours -- instead of locking players in deterministically, it uses `random.random` to decide when to enforce a lock while still respecting the maximum exposure. That way if you have a lot of exposure constraints, they aren't all forced into the first lineups generated.

I'm thinking of my use cas

[2018-11-23 17:21] BenBrostoff commented on #82
@sharkiteuthis I think the deterministic and random approach are both valuable and we should have flags where the user can choose either. The group constraints I agree would be awesome but let's handle that in a separate issue.

Let me get my branch merged in first and then you can PR onto `develop`.

[2018-11-23 17:31] sharkiteuthis commented on #82
I'll leave keep the deterministic approach and add flags (`-random_exposure` and `-random_exposure_seed`?) for my approach when I put in the PR.

[2018-11-23 17:34] sharkiteuthis opened #88 "Support Player Groups"
From #82

It be nice to have group constraints. E.g. I want at least 30% each of MG3, CMC, Saquon, DJ, Chubb and I want each lineup to have at least 2 of those 5.

Group constraints could also handle things like "No RB against opposing DST" and "limit to X of Y players"

[2018-11-23 17:39] BenBrostoff commented on #82
👍 , those flag names are good by me.

[2018-11-23 18:48] sharkiteuthis commented on #82
I also added an exposure table::
![image](https://user-images.githubusercontent.com/7672689/48957398-66f61880-ef26-11e8-8a44-015982527c84.png)

[2018-11-23 21:50] BenBrostoff commented on #81
[This is now working from this PR](https://github.com/BenBrostoff/draft-kings-fun/pull/87) and is Python3 compatible.

[2018-11-23 21:50] #81 closed

[2018-11-23 21:50] BenBrostoff commented on #51
[Now works with Python 3](https://github.com/BenBrostoff/draft-kings-fun/pull/87).

[2018-11-23 21:50] #51 closed

[2018-11-23 22:01] BenBrostoff commented on #86
Closed, thank you @sharkiteuthis

[2018-11-23 22:01] #86 closed

[2018-11-24 20:42] sharkiteuthis commented on #63
@BenBrostoff is this the next thing you're planning to tackle? I don't want to duplicate effort

[2018-11-24 20:47] BenBrostoff commented on #63
@sharkiteuthis Yep, actually just started working on this so good timing. I'll open up a work-in-progress PR once I have more to show. Definitely let me know if you have thoughts on how this should be structured / it would be great to have you as a PR reviewer once this is ready.

[2018-11-24 20:56] sharkiteuthis commented on #63
@BenBrostoff I'd be happy to. I really like the optimizer module interface you linked in the original issue.

It would be nice if we could make it a little more pythonic by implementing things like `if "Russell Wilson" in roster:`, move all of the print statements into their own functions so that whatever is importing and driving the optimizer is responsible for calling anything that prints to std

[2018-11-26 02:55] sharkiteuthis opened #91 "Add exposure matrix"
via @BenBrostoff:

Not necessary on this PR but future idea - my process with exposure right now is also to look pretty closely at how players are paired across lineups. The best visualization for this IMO is matrix like thing:

|      | Player A         | Player B  | Player C
| ------------- |:-------------:| -----:|-----:|
| Player A     | X | 2 | 1
| Player B     | 2      |   X |2
| Player C

[2018-11-26 15:22] #82 closed

[2018-11-27 17:46] sharkiteuthis opened #94 "Allow FLEX preferences"
- [ ] Have options to lock one of WR/RB/TE in FLEX.
- [ ] For multiple lineups, possibly a constraint for e.g. 60% RB, 30% WR, 10% TE. The min/max exposures would take priority.
- [ ] Display FLEX exposure breakdown (% WR, % RB, % TE)
- [ ] Roster should list FLEX position (i.e. `FLEX (RB)`)

[2018-11-28 13:03] sharkiteuthis commented on #63
@BenBrostoff re: custom rules/functions -- I think we should create a `Rule` class, then subclass that into things like `StackRule`, `GroupRule`, `LockedRule`, `BannedRule`, `TeamRule`, etc.

Probably better to do that refactor after you merge #90 and I merge #93, though. What do you think?

[2018-11-30 03:59] sharkiteuthis opened #95 "`-banned` and `-locked` are not respected when exposure file is used"
see here:
[code]

This might be resolved when you pip-ify the module for #63 and get away from the namespace stuff.

[2018-11-30 18:52] #91 closed

[2018-12-04 02:48] BenBrostoff opened #96 "Pickem optimizer broken"
Not working in new pip module.

[2018-12-04 02:54] BenBrostoff opened #97 "Get exposure to work with pip module"
Exposure currently doesn't have tests / does not play well with the new refactor.

[2018-12-04 02:56] BenBrostoff opened #98 "Add uploaders"
The only uploader that is complete and tested is the DraftKings NBA one. This should also be documented in the README.

[2018-12-05 22:58] BenBrostoff opened #101 "Bad error messaging"
[code]

[2018-12-05 23:57] BenBrostoff commented on #63
@sharkiteuthis Realized I never responded to this - definitely yes on `Rule*` stuff. One of the benefits I'm already seeing from this refactor is that making everything class-based is a huge boon to productivity when I'm scripting stuff for different sports. With the CLI, you had to remember args and also how the internals worked to a certain degree; this way there is much better autocomplete on w

[2018-12-12 23:10] BenBrostoff commented on #47
Closing this because the developer IMO can easily do this via creating a list of players.

[2018-12-12 23:10] #47 closed

[2018-12-12 23:10] BenBrostoff commented on #85
Closing because this is implemented and this project no longer runs as a CLI.

[2018-12-12 23:10] #85 closed

[2018-12-12 23:11] BenBrostoff commented on #63
Closing because this is implemented. Let's move all discussion to #95

[2018-12-12 23:11] #63 closed

[2018-12-12 23:12] BenBrostoff commented on #29
Closing because this is no longer applicable to the current API.

[2018-12-12 23:12] #29 closed

[2018-12-13 22:11] BenBrostoff opened #105 "Add NHL"
Would cover FanDuel and DraftKings.

[2018-12-14 20:24] BenBrostoff opened #107 "Add (default) no defense against offense constraint"
Applies to MLB, NHL, soccer and likely more. User should be able to override since there are definitely players who don't mind having a starting pitcher face hitter in lineups, especially for cash games.

[2018-12-22 21:09] BenBrostoff commented on #96
Closed by #110

[2018-12-22 21:09] #96 closed

[2018-12-22 21:14] BenBrostoff opened #112 "List of FD / DK contest types that we can implement"
Anyone reading this - feel free to add here. These are generally pretty easy so PRs welcome. If you pick any of the below up, you need at a minimum:

- A test that shows a roster can be created
- A test that shows a working CSV uploader
- An addition to the README that shows the `RuleSet` name and any other relevant usage info if applicable

The list
- NHL Tiers (DK)
- NHL Showdown (DK)
- Soccer S

[2018-12-23 00:13] sharkiteuthis commented on #112
I'll take on NFL/NHL showdown and FanDuel MVP

[2018-12-23 18:24] sharkiteuthis opened #114 "refactor stacks into generic lineup constraints"
can probably refactor stacks into #113

also have error-checking for sum(# stack players) > lineup size

[2018-12-24 14:49] sharkiteuthis commented on #95
Fixed by #113

[2018-12-24 14:50] sharkiteuthis commented on #88
fixed by #113

[2018-12-24 14:50] sharkiteuthis commented on #72
is this fixed now?

[2018-12-24 14:51] sharkiteuthis commented on #97
fixed with #113

[2018-12-24 14:51] sharkiteuthis commented on #107
@BenBrostoff Fixed by #108?

[2018-12-24 14:53] sharkiteuthis commented on #112
Hijacking this to ask if we want to implement more lineup constraints than just lock/ban for tiers. IMO its not really worth the effort.

[2018-12-24 14:54] sharkiteuthis opened #116 "Allow constraint relaxation for exposure"

[2018-12-24 18:58] sharkiteuthis commented on #112
Also, we can implement the DK NFL tiers with the pickem code

[2018-12-26 02:03] sharkiteuthis opened #117 "Implement no defense against captain for showdowns"

[2018-12-27 02:26] sharkiteuthis opened #118 "have run and run_multi take default settings objects"
like the `LineupConstraints()` argument

[2018-12-27 02:57] sharkiteuthis opened #119 "extend groups to conditional groups"
conditional groups:

- play 2 to 3 of X Y Z iff X or Y or Z is in the lineup
- play all of X Y Z if any is in the lineup

[2018-12-27 02:59] sharkiteuthis commented on #114
also allow for stacks against (i.e run back QB/WR stack with opposing player)

[2018-12-27 03:40] BenBrostoff commented on #114
Also had someone request that you should be able to set positions on stacks, so for soccer for instance you should be able to do a 4 man stack with a goalie and three other players.

[2018-12-27 06:05] sharkiteuthis commented on #114
this and #119 will probably wind up being rolled into one feature branch, that's next on my list once i finish showdown slates

[2018-12-27 06:45] sharkiteuthis opened #120 "write tests for exposure + group constraints"

[2018-12-27 06:46] sharkiteuthis commented on #101
addressed by #113

[2018-12-27 18:06] #118 closed

[2018-12-27 18:06] #95 closed

[2018-12-27 18:06] #88 closed

[2018-12-27 18:06] #97 closed

[2018-12-27 23:06] #101 closed

[2018-12-28 06:50] sharkiteuthis opened #124 "roster aesthetics roster fixes"
fix FLEX ordering in NFL lineups, they currently look like this:
[code]

- round/truncate to 2 decimal places, currently looks like this for the FD projections:
[code]

@BenBrostoff this is pretty low priority

[2018-12-28 06:52] sharkiteuthis commented on #107
fixed for NFL by #123

[2018-12-29 03:44] #117 closed

[2018-12-30 17:13] chppppp opened #125 "were the scrapers removed?"
It's been a while since I've looked at this repo and a lot has changed!! The last time I pulled this project was back in 12/2016.

Were the scrapers removed?

[2018-12-30 17:21] BenBrostoff commented on #125
@chppppp Yes, Rotogrinders politely asked me to remove the code so I complied. This repo IMO is hugely improved since 2016; check out the README and the [example on repl.it](https://repl.it/@BenBrostoff/AllWarlikeDemoware). Also feel free to shoot me an e-mail with any questions on usage. The issues are getting kind of crowded since there are big plans in 2019 for more improvements 👍

[2018-12-30 17:21] #125 closed

[2018-12-31 23:34] sharkiteuthis opened #126 "Write tests for NHL no def against off"

[2018-12-31 23:34] sharkiteuthis commented on #107
NHL and soccer both appear to be implemented but untested

[2019-01-01 21:53] BenBrostoff commented on #124
@sharkiteuthis If you work on this the coloring versus the average doesn't work on Windows I think. If it's hard to adapt I vote no colors; if it's easy then do it. A library like [`crayons`](https://github.com/kennethreitz/crayons) may be the way to go.

[2019-01-01 21:56] BenBrostoff commented on #124
Also the `FLEX` problem impacts all sports with a flex. Re: how this should work, I think the worst projection should go to flex. So if you play an RB in the flex, the worst projected of the three RBs should be there. As an aside, I had a buddy of me complain to me a few seasons ago since I always played David Johnson in the flex when he was the best fantasy player in the league 😆

[2019-01-01 22:01] BenBrostoff commented on #112
@sharkiteuthis Going to grab NFL showdown to make a blueprint for the future. Some trickiness I'll address but obviously weigh in with opinions:

- Ability to lock in with the following preferences: 1) Player X as CPT, Player X as FLEX or Player X, let the optimizer decide the position
- Banning players (ban them period, ban them as captain or flex)

Don't think implementation is hard, it's more h

[2019-01-01 22:40] sharkiteuthis commented on #112
look at the feature branch i have for NFL showdown, it's mostly done.

the remaining items:
- add ban captains
- test group constraints for showdowns
- add showdown team filters
- test with exposure

[2019-01-01 22:45] BenBrostoff commented on #112
Awesome, I’ll hold off

On Tue, Jan 1, 2019 at 5:40 PM Tom Dodson <notifications@github.com> wrote:

[2019-01-01 22:48] sharkiteuthis commented on #112
If you want to build on that branch, feel free, I won't be able to look at it again until at least tomorrow.

[2019-01-01 22:54] BenBrostoff commented on #112
Cool, I'll take a look tonight and commit if I have anything good to add. Will open PR just so it's out there.

[2019-01-05 16:28] BenBrostoff opened #128 "Uploaders for updating entries"
DraftKings has an [entry update tool](https://www.draftkings.com/entry/upload) that allows you to modify entries for any contest you're in. I'm not 100% sure how the API for this should work, but we have most of the code to make this happen - it's as far as I understand writing the contests of one CSV to another with some columns modified. One idea - create another class of CSV Uploaders that inhe

[2019-01-16 03:28] BenBrostoff opened #129 "DraftKings showdown uploader writes FLEX header instead of UTIL"

[2019-01-19 20:44] BenBrostoff opened #130 "Lineup constraints mutate players"
`run` should not mutate the players passed

[2019-01-23 02:21] sharkiteuthis opened #131 "add ban/lock captain for showdown lineups"

[2019-02-20 01:10] robotfactory opened #132 "lineup_constraints module not found"
The lineup_constraints module file is misnamed lineup_constaints.py. This misspelling is actually found in some other files like optimize.py and optimizer.py but others refer to it as the correct spelling.

When spelling the module name correctly a "module not found" error occurs.

[2019-02-20 01:25] BenBrostoff commented on #132
@robotfactory Great catch; I suck at spelling. Fixed with https://github.com/BenBrostoff/draftfast/commit/df733943c96876948b8d5813ecc0655bbdd18c95 .

[2019-02-20 01:25] #132 closed

[2019-02-20 01:34] robotfactory commented on #132
Oh, uh... I just submitted PR #133. Ha.

[2019-02-20 02:19] robotfactory opened #134 "[Request]: Injest JSON"
It would be helpful to be able to injest a player list from a json file or json string object, similar to how .csv can be injested.

[2019-02-20 03:37] sharkiteuthis commented on #134
agree. i'll make an issue and assign it to myself

[2019-02-20 17:41] robotfactory opened #135 "[Request] Make it easier to add custom sites, rules, and leagues"
Right now if you want to add a site or rule set it's pretty easy to add to (or overload) rules.py, but if you want to add a league (say, a type of battle at a particular weather-themed DFS site) you've got to also modify classes in orm.py and optimizer.py. This makes it super difficult if you're using the pip package.

I don't know how to design it, but it'd be great if the rules, leagues, and sit

[2019-02-20 18:27] BenBrostoff commented on #135
@robotfactory 100% agree, I may be using a forked version of draftfast for this hypothetical weather-themed site :-). Ideally this should be as simple as:

[code]

but you also need to add to override `roster_gen` I think as well. Either way, I agree on there be bad docs and the code perhaps not really lending itself that well to this. Do you want to take a shot at refactoring? I can also see how

[2019-02-20 18:36] robotfactory commented on #135
I can try but I'll be honest: I'm a security guy, not a developer. It's gonna be ugly.

I like the idea of a wxdfs fork, though. I'd contribute to that.

If you've got ideas on how to do the weather games with just the pip package, I'd love to see them. I'm still getting my head around how everything connects and I haven't even peeked under the hood of the solver yet.

[2019-02-20 18:38] BenBrostoff commented on #135
👍 , when I have some time (possibly tomorrow) I'll put together a repl.it with how this would work for Weather Battle. I'm also considering adding tennis for DraftKings but if I can figure out a good way to add sports without changing the source code and through the exposed API only, I'd rather go that route.

[2019-02-20 19:01] robotfactory commented on #61
May I suggest also moving from Ubuntu to Alpine? Much smaller containers. I could see some issue with the depends for the solver, though. I don't know how easy it is to get the LP stuff working on such a minimal distro.

[2019-03-26 15:34] #105 closed

[2019-03-26 15:35] #98 closed

[2019-03-26 15:36] BenBrostoff opened #136 "[Enhancement] Allow users to customize columns on output tables"
This is constrained right now to hard-coded columns from `Roster#__repr__`

[2019-04-03 22:00] dimitry-ishenko opened #137 "No solution found"
Total newb here. Tried to run your tool and got the above error message.
Here's the link with downloaded salaries.csv file: https://repl.it/@dimitry_ishenko/no-workie

Am I doing something wrong?

[2019-04-05 14:13] BenBrostoff commented on #137
@dimitry-ishenko You need to add the NHL rules to the `ruleset` arg in `salary_download.generate_players_from_csvs` - this unfortunately is undocumented :-(. Here's a [repl.it with the fix](https://repl.it/@BenBrostoff/no-workie). Let me look into a way to change this behavior more obvious or somehow document it.

[2019-04-05 14:40] dimitry-ishenko commented on #137
@BenBrostoff oh that's a pretty simple fix. Maybe just throw and exception if the ruleset is not defined?

[2019-04-05 15:16] BenBrostoff commented on #137
Definitely, I can go that route 👍

[2019-04-09 01:35] joecaraccio opened #138 "Get the next best solution?"
Is there anyway to generate multiple solutions? I can't tell if I am missing something in the documentation but say picking a particular player stack.. and I want to see the top 5 highest scores, not just the most optimal

Not sure if I am missing something in the documentation, or if there is a way to do it with OR Tools..

This is all incredible!

[2019-04-09 12:30] sharkiteuthis commented on #138
Yes, we used to have this documented but it got lost when we refactored everything.

You can run the optimizer as many times as you want and give it the previously-generated lineups so that it will return the best lineup not already generated. It looks like this:

'''
    roster = run(
        rule_set=rules.DK_NFL_RULE_SET,
        player_pool=players,
        verbose=True
    )
    second_roster

[2019-04-09 12:34] sharkiteuthis commented on #138
@joecaraccio  There is also a `run_multi` function that can be used like this:

[code]

It's intended to be used with lineup constraints and player groups but without any other arguments it will just return the N best lineups.

[2019-04-18 13:43] BenBrostoff opened #140 "CSV ingestion for showdown multiplies CPT salary by 1.5x"
Issue from e-mail:

Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
PF,Rodions Kurucs (12488920),Rodions Kurucs,12488920,CPT,5100,PHI@BKN 04/18/2019 08:00PM ET,BKN,16.4
...
PF,Rodions Kurucs (12488887),Rodions Kurucs,12488887,UTIL,3400,PHI@BKN 04/18/2019 08:00PM ET,BKN,16.4
his salary as CPT is already 1.5x his regular salary. when draftfast is run, it takes

[2019-05-24 00:58] sharkiteuthis commented on #61
I had it running on alpine at one point and we decided to move it back to ubuntu, I don't remember why and I don't think we documented it unfortunately.

[2019-05-24 01:05] sharkiteuthis commented on #140
I didn't realize the draftkings exports had the player twice, one for each position, so there's a middleware bit that takes every eligible player and makes a CPT record for them from the "standard" record by multiplying salary and points by 1.5.

My first inclination is just to throw away any lines with the `CPT` position, because not doing so means I have to rewrite some non-trivial chunks of the

[2019-06-03 06:42] malpaso commented on #137
I've added a different sport & site and I'm using the run_multi() and it's returning 'No solution found'. I'm finding it really hard to diagnose why. I have the NBA working for the same site. The projections and salary files are identical in structure. At a loss to find out what the solver is 'seeing'... @BenBrostoff Any ideas on how I can better debug this?

[2019-06-03 11:37] BenBrostoff commented on #137
@malpaso Just to be clear, is this working for `run` and not `run_multi`? If so it's possible there is a bug. If not, I would recommend creating the smallest example possible using manually created `Player`s (with the number of players equal to the roster size). I'm not saying the bug is with the CSV ingestion but if we do this first we can at least rule it out. It would also help if you could pos

[2019-06-04 04:33] malpaso commented on #137
@BenBrostoff Thanks for replying Ben. Here is the branch on my fork with the changes. I'm getting 'no solution found' for `run` as well. [https://github.com/malpaso/draftfast/tree/aus](url)

[2019-06-12 00:51] BenBrostoff commented on #137
@malpaso Got this to work on repl.it - [see link here](https://repl.it/@BenBrostoff/AllWarlikeDemoware-3). I think your issue may have been using `general_position_limits`. This is meant for sports where players can have position designations that cover multiple positions (ex. a `SF` or a `PF` are both `F`).

[2019-06-12 00:55] BenBrostoff commented on #134
I'm going to close this, although you're welcome @robotfactory or @sharkiteuthis to take this on in a fork. I don't think ingesting JSON should be a responsibility of this repo; even the CSV ingestion stuff is iffy. My hope moving forward is we can keep `draftfast` small - there's definitely a lot of bloat already from just not having a good idea of where this would end up. I see the responsibilit

[2019-06-12 00:55] #134 closed

[2019-06-12 00:57] BenBrostoff commented on #135
Closing this one as I think the `README` has a good example of adding new sports. I definitely welcome PRs with new sports from DraftKings or FanDuel or even Weather Battle.

[2019-06-12 00:57] #135 closed

[2019-07-03 18:22] BenBrostoff opened #143 "Travis build errors out"
[code]

[2019-07-03 18:55] BenBrostoff commented on #140
The issue here is:

[code]

I'm not sure about this - part of me feels like we should just ingest the CSV because DK is setting the 1.5 themselves. You can always overwrite `proj` and `cost` if you want.

I've done this [in my most recent PR](https://github.com/BenBrostoff/draftfast/pull/141)

[2019-07-04 19:39] BenBrostoff opened #145 "Position locked players do not show LOCK in table output"
ex.

[code]

![image](https://user-images.githubusercontent.com/6991348/60685599-eb702880-9e71-11e9-8c91-7f905ec51293.png)

[2019-07-04 19:46] BenBrostoff commented on #140
Closing this since I think it's the right move to let the CSV do the talking here. We can return to this issue if people want to somehow make the captain multiplier configurable.

[2019-07-04 19:46] #140 closed

[2019-07-04 19:46] BenBrostoff commented on #137
Closing this since we're now throwing on missing rulesets and this issue was related to a bad param.

[2019-07-04 19:46] #137 closed

[2019-07-05 16:12] BenBrostoff commented on #129
Closed by `07e6a2fde9aa314329c3bd214fb546cdda0c848e`

[2019-07-05 16:29] BenBrostoff commented on #131
Worth noting I think this is already possible for locking via `position_lock`. The banning piece is still relevant though.

[2019-07-07 18:18] BenBrostoff commented on #114
Picking this back up - stacks also need a min and max, right now it's all exact count.

[2019-08-22 05:34] dfshead opened #146 "Error when pip installing draftfast"
It says: "Could not find a version that satisfied requirement: Ortools  == 6.7.4973( from Draftfast)

No matching distribution as well.

[2019-08-22 06:39] #146 closed

[2019-09-03 07:20] dfshead opened #147 "Cannot find solutions when using WNBA ruleset."
`from draftfast import rules
from draftfast.optimize import run
from draftfast.orm import Player
from draftfast.csv_parse import salary_download

player_pool = [
    Player(name='A1', cost=1800, proj=43, pos='PG/SG'),
    Player(name='A2', cost=4500, proj=18, pos='PG/SG'),
    Player(name='A3', cost=5500, proj=24, pos='PG/SG'),
    Player(name='A7', cost=4500, proj=55, pos='SF/PF'),
    Player(nam

[2019-09-13 03:03] Denwen12 opened #148 "how do i creat more then 1 lineup and export into cvs"
how do i create more then 1 lineup and export into cvs

[2019-09-13 12:27] BenBrostoff commented on #148
@Denwen12 This is documented in the repo I believe and on some of the repl.it examples and the `examples` folder - I would check the `*CSVUploader` classes for more info.

[2019-09-13 12:27] #148 closed

[2019-09-15 13:54] BenBrostoff commented on #147
Hey @dfshead - I did notice there are no tests that include `DK_WNBA_RULE_SET` so it's possible the rule consts aren't updated and are definitely not being tested against an actual CSV from DK.  If you want to make a PR fixing this, that would be the first step I'd take.

Based on your description, this sounds related to the constants in `DK_WNBA_RULE_SET` as well as the player pool you're passing

[2019-09-15 13:57] BenBrostoff opened #149 "[enhancement] Create a player `metadata` column"
We expose a `Player` object that has props the optimizer needs to determine how to optimize. Users should have the option to 1) see any data they want in output and 2) create derived projections based on player props (ex. a weighted average of projections with a tuning for ownership). A `metadata` column of type `dict` could allow for this flexibility.

[2019-09-29 00:09] BenBrostoff commented on #143
Fixed, just had to upgrade to ubuntu latest

[2019-09-29 00:09] #143 closed

[2019-10-12 03:11] #147 closed

[2019-10-14 03:25] dfshead commented on #138
I submitted it like this:
[code]

When I enter it, nothing comes up.

no errors, nothing.

[2019-10-14 03:35] dfshead commented on #138
I'm also trying to use this. Is this the exact formatting? I'm getting tons of indent errors.

Could you show me an example using a salary csv?

[2019-10-14 17:02] dfshead commented on #138
[code]

This is what I'm getting.

[2019-10-14 17:11] dfshead commented on #138
Found the issue.

verbose=True should be in the function.

Formatting got ugly after 5 lineups but I am very happy.

[2019-10-17 05:14] malpaso opened #151 "Output in JSON or CSV"
This is probably an enhancement but it would be nice to toggle the output of rosters to JSON or CSV files instead of ASCII.

[2019-10-17 12:01] BenBrostoff commented on #151
I definitely see the value here but I’m not sure it’s a library
responsibility. Remember that the optimize function here returns a Roster,
which you can then parse however you want. I have a few APIs I’ve built
around draftfast that do exactly this - one is a Flask app for instance
that just jsonifies some rosters. CSV you could do the same approach -
parse Roster instances and then write to a CSV

[2019-10-17 12:14] malpaso commented on #151
@BenBrostoff That makes sense and funnily enough I've tried it but getting errors trying to convert the Rosters (not an experienced python dev). Seems serializing to JSON is a bit more complicated in python. Any hints? I'm trying with json.dumps() at the moment, I suspect I need a custom decoder on the roster object?

[2019-10-17 12:16] BenBrostoff commented on #151
No problem, I’ll post some example code later. I would say as advice you
should try to convert to a dict where keys are strings and values are
either floats or strings - this will definitely work. JSON conversion will
error out if you try to convert a class instance that may have special
types.

On Thu, Oct 17, 2019 at 8:14 AM Bill Tindal <notifications@github.com>
wrote:

[2019-10-20 21:39] BenBrostoff commented on #151
@malpaso See below:

[code]

prints

[code]

Closing this issue - let me know if you're still having trouble here. I don't think JSON / CSV conversion should be part of the core library but it's very do-able and I can help if you want to talk about consulting (my e-mail is in my profile).

[2019-10-20 21:39] #151 closed

[2019-10-22 00:53] malpaso commented on #151
Thanks @BenBrostoff for the help!

[2019-10-27 07:15] amoran commented on #72
@BenBrostoff I believe this issue is still happening.  Lineups are generated that have more than 4 players from the same team.  Fanduel does not allow that.  Was a fix in progress?

[2019-10-27 15:06] BenBrostoff commented on #72
@amoran Can you post an example here? That will help me write a test case I can then work on passing.

[2019-10-31 21:59] chppppp opened #152 "json return?"
Hi Ben! Long time, no talk :) As always, love this project, even if I miss the projection scrapers ;)

Anywho - I want to turn this into a React app and I plan on modifying your code to return JSON but I was wondering if it might already do so and I am missing it?

Thank you!

[2019-11-01 03:09] #152 closed

[2019-11-03 16:06] BenBrostoff opened #153 "[bug] NFL uploaders unimplemented"

[2019-12-15 17:55] BenBrostoff opened #155 "Better control of stacking"
Stacks write now are fairly limited in options exposed - you pick a team and count. I've noticed (need to try to replicate) that a QB and DST could be picked as a stack of two and this would count. Stacks should allow user to specify position, spending, etc.

[2019-12-21 17:59] BenBrostoff commented on #155
Addressed by https://github.com/BenBrostoff/draftfast/pull/156

[2019-12-21 17:59] #155 closed

[2019-12-21 20:48] #153 closed

[2019-12-21 20:49] BenBrostoff commented on #138
Closing this, seems fixed @dfshead

[2019-12-21 20:49] #138 closed

[2019-12-21 20:51] BenBrostoff commented on #128
Going to close this as I don't think any API could generalize well here. This update sheet depends on your specific contests. You always have the option of copying / pasting cells over from what DraftFast outputs into the sheet (this is what I do).

[2019-12-21 20:51] #128 closed

[2019-12-21 20:55] BenBrostoff commented on #119
This remains a feature I'd really like to see FWIW. For NFL this season, would've used it a ton to say for TB to say if Chris Godwin is going to be in a lineup, don't play Mike Evans. For stacking I think this is a good one - if you know two players are inversely correlated, you'll want a conditional group like above. @sharkiteuthis you think you know how to implement this? I have some ideas but n

[2020-01-10 05:15] rfr3sh opened #157 "Multiple Positions on Draftkings Allows duped lineups"
![image](https://user-images.githubusercontent.com/33287084/72127608-39447c80-333e-11ea-8879-e31514f35d6a.png)

I believe since each player is given a unique ID based on their positional eligibility these lineups are being counted as not duplicated

[2020-01-10 11:55] BenBrostoff commented on #157
This makes sense to me - optimizer assigns different player IDs based on
position. Do you mind posting the minimum example you need to reproduce so
I can have a failing test case to work with? I do think this might not be
an easy change. In some cases you want this behavior - consider showdown
where a position (captain) actually changes lineup, so two lineups w same
players in different positions.

[2020-01-10 13:57] rfr3sh commented on #157
[nba.zip](https://github.com/BenBrostoff/draftfast/files/4045945/nba.zip)

Used these PIDS anre projections

rosters, _ = run_multi(
    iterations=2,
    rule_set=rules.DK_NBA_RULE_SET,
    player_pool=players,
    verbose=False,
)

Should do it

[2020-01-11 18:44] harg0055 commented on #157
Preface - I am VERY new to python so I have no idea if this would work or not...

Would creating a key based on sorting the PIDS work? So after each run, sort the PIDS and concatenate them together. Then compare that against all previous lineups to see if that key exists prior to adding to the list?

[2020-01-11 18:57] BenBrostoff commented on #157
Yep, this will work @harg0055 - there's still a question though of how to implement if you use this technique. The short story is at optimize time, the optimizer isn't smart enough to know this is a dupe, and the technique you're proposing would be pre-optimize time and not at optimize time.

The optimizer detects existing lineups like this https://github.com/BenBrostoff/draftfast/blob/master/draf

[2020-01-12 19:33] rfr3sh commented on #157
I  think this won't return a value since the keys include the Position? ie Bradley Beal SF WAS: 0 , Bradley Beal SG WAS: 1

If I wasn't planning to use showdown, would this work?

    def _add_player_to_idx_maps(self, p: Player, idx: int):
        #self.player_to_idx_map[p.solver_id] = idx
        self.player_to_idx_map[p.name] = idx

i = self.player_to_idx_map.get('{}'.format(player.name))

[2020-01-14 09:55] BenBrostoff commented on #157
I think it should but haven’t tested. NBA doesn’t have this problem as much
as NFL but this will break I think if two players have the same name, but
it’s a corner case definitely. The way to fix that problem would probably
be to assign a unique id or something to each player.

On Sun, Jan 12, 2020 at 2:33 PM rfr3sh <notifications@github.com> wrote:

[2020-01-15 19:37] rfr3sh commented on #157
No luck unfortunately, I think because the constraint on the solver is based on player solver ID.

[2020-01-17 12:06] BenBrostoff commented on #157
@rfr3sh Might get some time to put pen to paper on this over long weekend - to be clear I think it's solvable, just need to mess around with it.

[2020-02-07 21:33] chppppp commented on #134
Did anyone ever implement this?

[2020-02-07 22:27] BenBrostoff commented on #134
No but I think I stand by that comment - Python has a `json` module and I think it's easy enough to do this outside the library. Worried about library bloat. I support CSVs because DraftKings and FanDuel provide them and over the last few years haven't changed the CSV format; for JSON, there's a question of what the JSON looks like and how to ingest it.

[2020-02-07 22:31] chppppp commented on #134
Thanks for the fast reply Ben. I cant argue with your logic as the module is simple enough where the user can implement this stuff. I just love being lazy :) Thanks so much.

[2020-02-07 22:33] BenBrostoff opened #158 "XFL"
Because it's finally back :-)

[2020-06-12 06:58] JoeAndrei opened #163 "How to implement randomness and all exposure"
Hello, How are you?
I hope you are safe from corona virus.
I have a few questions.
1) How to implement randomness and all exposure?
2) How to implement player id with player model without csv uploader and downloader?

Please help me.
Thanks

[2020-06-12 19:28] BenBrostoff commented on #163
Hey Joe -

- Randomness - there are a few ways you could approach this - my preference is to use Python's built-in `random` and overwrite each `Player`'s `.proj`
- Exposure - I generally like to use `Counter` to do a frequency count on each iteration and then update `LineupConstraints` accordingly
- Player ID - remember that uploaders and downloaders are optional. You can always construct your own

[2020-06-12 19:29] BenBrostoff commented on #158
Considering this league may never play again... closing

[2020-06-12 19:29] #158 closed

[2020-06-13 00:33] JoeAndrei commented on #163
Thanks for your reply.
I am clear about Randomness and Player ID
I am using exposure_bounds for individual exposure.
But I wanna set all exposure.
How can I use Counter to do a frequency count on each iteration
Could you explain, please about it. Thanks

[2020-07-28 19:08] robfreed10 opened #164 "MLB Fanduel Optimization"
How can I account for pitchers who are not expected to pitch in the game tonight?
How can I account for players who's game has been postponed
Thanks,

Robert

[2020-07-29 02:17] BenBrostoff commented on #164
Hey @robfreed10 - determining players you do or don't want in your player pool is up to you and not part of this library. I'd check out Rotogrinders or other services that offer updates on who is playing for a specific game. If you have a data feed, you can integrate this into a script that uses DraftFast.

[2020-07-29 02:17] #164 closed

[2020-09-14 01:54] BenBrostoff opened #165 "Store whole row on Player in generate_players_from_csvs"

[2020-09-24 17:08] jpmorgenthal opened #167 "Matchup"
What's the best way to incorporate opposing rank into the selection process? Thoughts?

[2020-09-24 17:16] jpmorgenthal opened #168 "With DK NFL Rules Set I got 3 RBs"
+----------+-------------------+------+-------------------------------+--------+------------+----------+--------+
| Position | Player            | Team | Matchup                       | Salary | Projection | vs. Avg. | Locked |
+----------+-------------------+------+-------------------------------+--------+------------+----------+--------+
| QB       | Russell Wilson    | SEA  | DAL@SEA 09/27/2020

[2020-09-24 18:53] BenBrostoff commented on #168
Is this not a valid lineup? I get this could be confusing because `FLEX` isn't explicitly marked.

[2020-09-24 21:39] jpmorgenthal commented on #168
Sorry, I thought I typed this up, but didn't think I submitted. It is valid. Just not used to seeing it in this format for DK
QB, RB, RB, WR, WR, WR, TE, FLEX, DST

So, I got thrown off. I thought I just exited without submitting this. Sorry

[2020-09-24 21:42] BenBrostoff commented on #168
No problem! Let me know if you see any issues

[2020-09-24 21:42] #168 closed

[2020-09-24 21:42] BenBrostoff commented on #165
Done through `kv_store`

[2020-09-24 21:43] #165 closed

[2020-11-01 20:33] BenBrostoff opened #171 "InvalidBoundsException needs to be more informative"

[2020-11-14 13:00] BenBrostoff commented on #171
Complete in 93c035bf7940bf211011be6c3ce36d5e4b7e61f2

[2020-11-14 13:00] #171 closed

[2020-11-14 13:02] BenBrostoff commented on #167
@jpmorgenthal You could bake this into your projections (ex. use matchup to increase or decrease projection) or use `CustomRule` to mandate certain exposures to projections (ex. at minimum have four players in matchup). Since this isn't an Issue and more an opinion question, feel free to ping me on Slack if you want to discuss more.

[2020-11-14 13:02] #167 closed

[2020-11-14 13:02] #129 closed

[2020-11-14 13:03] BenBrostoff commented on #61
Going to close this - I think what we have on CI is acceptable for trying new Python versions which is really the big use case here. Will accept PRs though if people want to contribute.

[2020-11-14 13:03] #61 closed

[2020-11-14 13:04] BenBrostoff commented on #107
This can be done via `CustomRule` also so going to close.

[2020-11-14 13:04] #107 closed

[2020-11-14 13:06] BenBrostoff commented on #163
Hey @JoeAndrei - since this isn't an issue with the core library, closing issue - feel free to ping me on Slack on this.

[2020-11-14 13:06] #163 closed

[2020-11-14 13:07] BenBrostoff commented on #149
Completed via addition of `kv_store` property

[2020-11-14 13:07] #149 closed

[2021-01-21 03:42] dttyszka opened #172 "[Question] Numpy version requirement"
New to this repo, but find the code very useful! I did notice the numpy version requirement==1.15.4, and this prevents pandas and draftfast from co-existing in the same env. What drives the requirement on that version of NumPy?

Thanks in advance!

[2021-01-21 03:44] BenBrostoff commented on #172
Nothing as far as I know - upgrading is probably fine here, I will take a
look tomorrow - thanks for catching!

On Wed, Jan 20, 2021 at 10:42 PM dttyszka <notifications@github.com> wrote:

[2021-02-07 21:57] BenBrostoff commented on #172
@dttyszka I haven't had time to work on this but will gladly accept a PR if it passes the build!

[2021-03-01 06:33] deathdonkey-code commented on #157
This is listed as an open item - wondering if anyone found a workaround / solution? I've considered checking for uniqueness of rosters after they are created and updating the number of rosters to generate by only counting the unique ones. But this gets slow for large numbers of teams (10 unique teams might be 100+ rosters that have different permutations of the same lineups)

[2021-03-06 14:26] BenBrostoff commented on #157
@deathdonkey-code That workaround should work, but the solution in https://github.com/BenBrostoff/draftfast/issues/157#issuecomment-573344539 should also hypothetically work (have not tested). PRs welcome!

[2021-03-06 18:29] deathdonkey-code commented on #157
Thanks for getting back to me. I am not using Showdown slates but I understand its not a good idea to modify the module and break that ability. I believe my workaround is equivalent to the suggestion you pointed to (I keep a Counter of PIDs for each run and see if it already exists) but it can be quite slow for large numbers of lineups (100 unique lineups might take 300+ runs). Unless you are refe

[2021-03-06 20:06] BenBrostoff commented on #157
If you're changing how `_set_no_duplicate_lineups` works and redefining the `.solver_id` prop on player we're talking about the same thing - this will significantly slow down the optimizer as you're adding a new constraint (I literally mean `solver.Constraint` here) on each run.

Some speed stuff I've used in the past (final two trade off accuracy):
- `multiprocessing` and using multiple procs for

[2021-03-07 07:45] deathdonkey-code commented on #157
I think I am confused now or we are referencing different posts from this thread. I am following harg0055's first idea to check for uniqueness in the rosters after the optimizer completes an iteration. It works fine but slow. I have tried your suggestion to modify the _set_no_duplicate_lineups and .solver_id like so (player_id is a unique identifier from a custom CSV format):

            for play

[2021-03-07 15:16] BenBrostoff commented on #157
Yep, that's exactly right on why that error happens I think - if you redefine `solver_id` that way you're going to wind up with a repeated constraint here https://github.com/BenBrostoff/draftfast/blob/master/draftfast/optimizer.py#L49-L51 . I'd  need to mess around with it but my recommendation would be to only modify `_set_no_duplicate_lineups`.

[2021-03-07 18:26] deathdonkey-code opened #173 "NBA FanDuel code won't generate teams if more than 7 players are listed in Exposures"
I am trying to simulate a tournament field using exposure projections I can find online, however generating teams only works if my exposure CSV has 7 or fewer entries. I'll attach a couple CSVs that share player names to illustrate (I had to save them as .txt to get github to accept them, but they should be .csv). I use the output_DK.csv for the player projections, and the min_max_FD_short.csv for

[2021-03-07 18:32] BenBrostoff commented on #173
Can you add `verbose=True` on `run_multi` and post the output in the case it doesn't work? Also does removing any arbitrary row resolve the issue, or just a specific row?

[2021-03-07 19:45] deathdonkey-code commented on #173
It appears its more complex than just "7 players are ok, 8 aren't", it does indeed depend on which players I remove. I think this is because several of the players in the example I gave here are from the same team (TOR) but unsure. Maybe its just failing to find valid configurations that use players from the same team? But then how would this work with using lineup projections for the entire slate

[2021-03-07 22:14] BenBrostoff commented on #173
I'm guessing it's the locked and banned settings (which I can add to the debug output - it really should be in there). Do you mind printing locked and banned players in the failure case? What could be happening is that the optimizer is unable to satisfy required locks in addition to all the other constraints it has to satisfy. Sorry for the continued info requests - it can be tricky figuring out w

[2021-03-07 22:47] deathdonkey-code commented on #173
Not using any locked or banned players there. Will try to print those lists anyway when I get back to computer.

[2021-03-07 22:49] BenBrostoff commented on #173
Right - but `run_multi` will automatically lock and ban behind the scenes.

[2021-03-08 00:08] deathdonkey-code commented on #173
I printed Locked and Banned lists within the Run() function like this:

[code]
but they are just empty sets:

No solution found.
Try adjusting your query by taking away constraints.

OPTIMIZER CONSTRAINTS:

Min teams: 2

LINEUP CONSTRAINTS:

None

LOCKED LIST:

set()

BANNED LIST:

set()

PLAYER POOL SETTINGS:

None

PLAYER COUNT: 192

Total iterations: 100
[Finished in 1.4s]

[2021-03-08 00:15] BenBrostoff commented on #173
Alrighty, one more test and then I can pull down and try to repro - what about `exposure_dict`?

Check out https://github.com/BenBrostoff/draftfast/blob/master/draftfast/optimizer.py#L38-L39 in the source. `_is_banned` and `_is_locked` both look at the values in this dictionary to determine locking and banning.

[All `run_multi` does is just run `run` the number of iterations you specify with diff

[2021-03-08 03:17] deathdonkey-code commented on #173
Here you go - it looks like its locking every player in the exposures CSV?

No solution found.
Try adjusting your query by taking away constraints.

OPTIMIZER CONSTRAINTS:

Min teams: 2

LINEUP CONSTRAINTS:

None

EXPOSURE DICT:

{'banned': [], 'locked': ['DENNIS SCHRODER', 'CHRIS BOUCHER', 'ENES KANTER', 'DAMIAN LILLARD', 'JAMES HARDEN', 'TERENCE DAVIS', 'KYLE LOWRY']}

PLAYER POOL SETTINGS:

Non

[2021-03-09 00:48] BenBrostoff commented on #173
Yep, that's exactly the issue. `run_multi` doesn't look like it is selective at all with who it locks on the first iteration:

https://github.com/BenBrostoff/draftfast/blob/a067cbfea72dcc7ed5ae9269f5c06f6debf03048/draftfast/exposure.py#L53-L75

You can actually see in the TODO that this is a known issue. I think an easy-ish fix is to allow this to be settable - in your case you could max out the n

[2021-03-09 06:32] deathdonkey-code commented on #173
That almost works - I think this is correct?

[code]

the only problem I've noticed so far is that the code doesn't check for the locked players to make sense - so 3 centers can be locked and then it won't find a valid team and break. For FanDuel it looks like just using MAX_LOCKS = 1 is fine, for DraftKings I can use a higher MAX_LOCKS and it works because it can put those players in the UTIL / G

[2021-04-21 00:57] BenBrostoff opened #174 "Add M1 Apple Chip warning on ortools in README"
https://github.com/google/or-tools/issues/2332

[2021-04-29 03:24] LePetitNewbie opened #175 "Import Error Help Please."
Hi, I just started using Python and I was wondering if someone could tell me what am I doing wrong?

i keep getting this message everytime i try to run draftfast. I am a super novice. just started playing around with it. if anyone can point me towards a solution, it would be very helpful.

ImportError: cannot import name 'rules' from 'draftfast' (C:\Users\User1\PycharmProjects\pythonProject1\venv\

[2021-04-30 00:26] BenBrostoff commented on #175
Hey @LePetitNewbie - what version of Python are you using? This should work in 3.6 - [that's what the unit tests run in](https://github.com/BenBrostoff/draftfast/runs/2396028523). I'm going to close this issue as this import is unit tested.

[2021-04-30 00:26] #175 closed

[2021-06-11 13:55] BenBrostoff opened #176 "[Bug] MLB Classic doesn't prevent >5 hitters per team or only one matchup"
Latter can be solved by `min_teams`, will have to get creative on former.

[2021-07-11 14:07] #176 closed

[2021-07-11 14:33] BenBrostoff opened #178 "Allow minimum stack size settings"

[2021-07-22 13:19] lbrantley8 opened #179 "PIP Install Error"
Hello, new to coding in general so im sure this will be a simple fix.

When trying to pip install I am receiving an error due to the Numpy requirement. I have tried installing the proper version of numpy on both my cmd prompt and anaconda prompt as well with no luck

The only other option I could think of is completely uninstalling python (i have the 64 version) and reinstalling to see if that wou

[2021-07-23 15:24] lbrantley8 commented on #179
created virtual env to bypass this

[2021-07-23 15:24] #179 closed

[2021-08-01 08:04] BenBrostoff opened #180 "solver_id should only be on player and team"
Definition is making lineup equality wrong. Lineup should be the same even if positions are moved around if it's the same players, since all you care about is the point output.

[2021-08-17 13:04] #180 closed

[2021-08-17 13:04] BenBrostoff commented on #180
Fixed

[2021-11-03 19:34] rickenrocker24 opened #182 "player position availability update?"
Fanduel made changes this season for player position availability

[2021-11-25 07:15] revdarr opened #183 "Set maximum cumulative ownership"

[2021-12-23 15:28] ElijahFlomen opened #184 "never play these 2 players together"
Hi! I was having an issue where when I set this custom rule:

`settings = OptimizerSettings(
            CustomRule(
                group_a=lambda p: p,
                group_b=lambda p: p.name == 'Patriots' or p.name == 'Jalen Hurts',
                comparison=lambda sum, a, b: sum(b) <= 1
            )
`

I am getting multiple lineups with _both_ Jalen Hurts and Patriots D/ST in my output, whe

[2021-12-23 16:25] BenBrostoff commented on #184
@ElijahFlomen So there is a test for this here:

https://github.com/BenBrostoff/draftfast/blob/master/draftfast/test/test_custom_rules.py#L84-L108

Which I think you've captured identically. Are you sure `Patriots` is the name of the "player" here? I'd try with some other examples and confirm this problem still happens.

[2021-12-23 19:31] BenBrostoff commented on #184
Also if you post your CSV and a code snippet I can replicate with here I can debug much easier 👍

[2021-12-25 15:07] revdarr opened #185 "If play a then play b"
The test seems to only allow for multiple players on b.

For example:

[code]

works but always has both Tatum and Brown

but

`CustomRule(
             group_a=lambda p: p.name=='Gary Payton II',
             group_b=lambda p: p.name=='Jayson Tatum'
         )`

Results in no solution found

[2021-12-25 17:35] BenBrostoff commented on #185
@revdarr Can look into this - do you have a CSV with projections you can send here so I can replicate? Additionally, it's worth mentioning here on `CustomRule` the [default comparison is here](https://github.com/BenBrostoff/draftfast/blob/4b1a6cf67f3c6d29a26e7b6de4dd6113269245b8/draftfast/settings.py#L47-L48). You may need to override the default comparison such that ` solver_sum(g_a) == solver_su

[2021-12-25 18:05] revdarr commented on #185
Thanks! Here's my CSV.
[TestDK.csv](https://github.com/BenBrostoff/draftfast/files/7776133/TestDK.csv)

[2021-12-25 18:38] bluh32 opened #186 "Exposure Settings help"
I am having trouble getting the Expsoure Random to work. .

rosters, _ = run_multi(
    iterations=10,
    rule_set=rules.DK_NBA_RULE_SET,
    player_pool=player_pool,
    exposure_bounds=exposures,
    exposure_random_seed=1,
    verbose=True,
    )

When I remove the exposure_random_seed argument it runs fine and optimizes with total exposure mins/maxes.  I am trying to test out the difference o

[2021-12-26 17:05] BenBrostoff commented on #185
@revdarr This should be fixed by just changing the comparison function to `solver_sum(g_a) == solver_sum(g_b)`. I updated tests to show this scenario in https://github.com/BenBrostoff/draftfast/commit/bf209c80727dbb334a2fd4c8e9ea7501aadbdce9 . If you use this rule, my testing shows:

- A and B are guaranteed to be in the same lineup if one of them is in the optimized lineup
- Otherwise, neither wi

[2021-12-26 17:15] BenBrostoff commented on #186
@bluh32 Can you try some other numbers in the seed and let me know if you get the same result? We do test this scenario specifically here https://github.com/BenBrostoff/draftfast/blob/master/draftfast/test/test_exposure.py#L50 . One thing to know about `run_multi` is that you can make optimization impossible depending on what is passed into `exposure_bounds`. I would also suggest messing around wi

[2021-12-26 17:24] BenBrostoff commented on #184
@ElijahFlomen Going to close this out. I tested in releasing `3.5.8` and I believe got this exact scenario tested and working, but feel free to open with snippet and CSV.

[2021-12-26 17:24] #184 closed

[2021-12-26 17:25] BenBrostoff commented on #183
@revdarr You have more details on what this means?

[2021-12-26 17:25] #174 closed

[2021-12-26 17:46] bluh32 commented on #186
hey @BenBrostoff, appreciate the response.  When I remove the bounds from the argument list, it runs with random_seed -- I guess I just don't understand what is happening in that scenario.  Is it just completely random exposure caps each interation?

I uploaded the bounds as all Min 0, Max 1 just to test if there was some sort of error.  I will take a look at some of the example files describing s

[2021-12-26 18:03] revdarr commented on #183
Sure, if we have a field of projected Ownership percentage for each player, it would be great to have a tool that limits the sum Ownership of a lineup below a specified amount

[2021-12-26 18:15] BenBrostoff commented on #186
So `exposure_random_seed` won't actually modify projections - it just makes random who is locked on each iteration, as locking is necessary to increase players who need more exposure allocated to:

[code]

If you want to randomize projections, check out `randomize` in `PlayerPoolSettings`. This factor (which you pass as a decimal from 0 to 1) will randomize each player in the pool's projections by

[2022-01-01 23:12] BenBrostoff commented on #185
Closing this issue as I think the test I added proves this works as expected.

[2022-01-01 23:12] #185 closed

[2022-01-03 02:18] #186 closed

[2022-03-13 12:28] BenBrostoff opened #187 "Some enhancements around sets of lineups (READ ONLY)"
This library really hasn't done much with sets of lineups - there were some attempts in 2018 to do cumulative ownership (mins and maxes). My take after doing that was people have lots of different ideas on expected behavior when it comes to aggregate settings for say 150 lineups in a mini-MAX DK contest.

Rather than try to address all those opinions, I think starting with a basic `LineupSet` obje

[2022-05-21 21:05] sam1rm opened #189 "Fanduel csv_parse no longer works"
Here is the loading template i downloaded from fanduel
[FanDuel-NBA-2022-05-21-76433-entries-upload-template.csv](https://github.com/BenBrostoff/draftfast/files/8748340/FanDuel-NBA-2022-05-21-76433-entries-upload-template.csv)

Here is the screenshot of the error when I try to run your first example on the README.
![Screen Shot 2022-05-21 at 4 05 15 PM](https://user-images.githubusercontent.com/10

[2022-05-21 21:46] BenBrostoff commented on #189
The CSVs used here are meant to be the ones you would download with the player list as opposed to a CSV for contests you've already entered and want to alter. If you take a look at some of the tests, you can see the expected CSV structure.

If you're looking to modify lineups, DraftFast can help with this, but it's not part of the core library at the moment. I would recommend creating a list of `P

[2022-05-21 21:53] BenBrostoff commented on #189
Going to close for the time being but feel free to open another issue if you have a specific feature request around modifying existing lineups.

[2022-05-21 21:53] #189 closed

[2022-05-22 20:04] sam1rm commented on #189
Thanks for the rapid reply!

I've been using the `Player` instead, and just modifying the codebase to support Fan Duel Single Entry. I just need to find out how to create Custom Rules to support the multipliers for the first 3/5 entries [MVP @2x, star @1.5x and pro @1.2x]

That would be the feature request, but I'll go ahead and take a stab at examining the entirety of the codebase, and submit a P

[2022-05-23 11:45] BenBrostoff commented on #189
Awesome, thank you!

[2022-05-28 19:18] BenBrostoff opened #190 "Use latest Ubuntu in Docker image"
Having issues building on Travis on account of what I think is related to https://github.com/readthedocs/readthedocs.org/issues/9171 . Workaround is to use `20.04`.

[2022-06-09 20:04] rickenrocker24 commented on #182
Any updates on the UTL position

[2022-06-09 20:18] rickenrocker24 commented on #182
Thanks for your prompt response @BenBrostoff  below is an example of the fanduel mlb lineup construction...basically they added the "UTIL" position at the bottom and now players can have multiple position. Example below...

![image](https://user-images.githubusercontent.com/17555582/172936690-011c18a9-71ca-48f2-8921-d122f26565eb.png)

[2022-06-09 20:40] BenBrostoff commented on #182
Ah gotcha, let me see what I can do here

[2022-06-12 23:20] BenBrostoff commented on #182
Was taking a look here - what's the current issue with how this is implemented? I see `FD_MLB_RULE_SET` allows for 9 players and you can have 2 of any non pitcher. Is it how CSVs are parsed / what's a specific example of where you're seeing this not working?

Snippet on what I'm seeing:

[code]

[2022-08-04 12:56] BenBrostoff opened #192 "FanDuel Showdown CSV parsing"
Parse CSVs correctly for FD (example sheet attached
[FanDuel-NFL-2022-08-04-78638-lineup-upload-template.csv](https://github.com/BenBrostoff/draftfast/files/9259800/FanDuel-NFL-2022-08-04-78638-lineup-upload-template.csv)
)

Notes:
- Players are given once so parsing needs to "break" them into captain and flex
- Salary is same at captain

[2022-08-07 23:52] BenBrostoff commented on #192
Resolved by https://github.com/BenBrostoff/draftfast/commit/4166b3a7f33830c9ba5433756195d0ff8c10ce5d

[2022-08-20 15:44] #192 closed

[2022-09-12 02:06] kilabyte opened #196 "Could not find a version that satisfies the requirement ortools==9.0.9048"
Tried on windows and mac m1 same results. I can mod the req files but other things start to blow up. Im just running the instructed `pip install draftfast`

[2022-09-12 12:48] ramGoli commented on #196
I just downloaded the repo and ran it instead when faced with the same issue.

[2022-09-12 12:50] BenBrostoff commented on #196
Hey all - I will look into this but note the tests run against a Docker
container and use the same dependencies. If you try the Docker setup and
review what’s happening in travis.yml this should be working at least with
that environment

On Mon, Sep 12, 2022 at 8:49 AM Ram Goli ***@***.***> wrote:

[2022-09-13 00:58] BenBrostoff commented on #196
@kilabyte @ramGoli [I spot-checked this on a clean Repl.it shell and this works](https://replit.com/@BenBrostoff/ModernLegalPerimeter#main.py). What Python version are you using here?

[2022-09-13 01:01] kilabyte commented on #196
Using 3.9.13 and 3.10.0.

I have a feeling it's my m1 mac. Been messing around with it all day and I can only get it working in a Rosetta terminal calling 'pip install draftfast==3.7.11'

Running the Docker compose from the repo using the dockerfile to fill the image on the Apple M1 also causes massive issues.

[2022-09-13 01:04] BenBrostoff commented on #196
On my end I run this on Rosetta since I also had issues with M1 (there's a thread about it here https://github.com/google/or-tools/issues/2332) - [for Docker I had to run like in this gist](https://gist.github.com/BenBrostoff/5f224aa87ce243d90890566f6938ecab).

You said though this also happened on Windows?

[2022-09-13 17:51] kilabyte commented on #196
ya it was the same error on windows that could also be from the WSL. I have moved over to pydfs instead and have that working. :( I'll keep an eye on the repo for changes but we can close this for now

[2022-09-13 17:51] #196 closed

[2022-09-13 23:45] Jzilllah opened #197 "Fan Duel CSV Upload"
Very new to coding here, so this may be a simple issue, but im having trouble importing Fan duel CSV.

Here is the error im getting:

![Screenshot (261)](https://user-images.githubusercontent.com/73140742/190028679-7a5433ec-f740-4bb4-b7a8-a5b0b7987617.png)

[2022-09-14 11:45] BenBrostoff commented on #197
Can you attach the CSV you're attempting to ingest? It looks like the header doesn't have `Position` as a column name.

[2022-09-14 12:20] Jzilllah commented on #197
both csv's i used appear to have position.

I used the below sheet for this attempt:

[FDweek2.csv](https://github.com/BenBrostoff/draftfast/files/9566164/FDweek2.csv)

I read in a previous comment that it hasnt been designed for the lineup build csv so i also tried with this version and got a different error. I have attached

[FDweek2.csv](https://github.com/BenBrostoff/draftfast/files/9566177/FD

[2022-09-14 12:27] BenBrostoff commented on #197
I think you need to invoke `game` with either `DRAFT_KINGS` or `FAN_DUEL` - `generate_players_from_csv` expects a `str` instead of a `Ruleset`. You can see an example here https://github.com/BenBrostoff/draftfast/blob/b3278d0913e85084394f047fb1bfd6808e56c6b7/draftfast/test/test_optimize.py#L102-L114

[2022-09-14 12:30] ramGoli commented on #197
Try this path instead:
salary_file_location="C://Users//J//Desktop//fdplayersweek2.csv"

On Wed, Sep 14, 2022 at 8:27 AM Ben Brostoff ***@***.***>
wrote:

[2022-09-14 12:32] ramGoli commented on #197
Nevermind, you need to do this:

game=rules.FAN_DUEL,
instead of
game=rules.FD_NFL_RULE_SET

On Wed, Sep 14, 2022 at 8:30 AM Ram Goli ***@***.***> wrote:

[2022-09-14 12:37] #197 closed

[2022-09-20 22:12] rickenrocker24 opened #198 "NFL: Try adjusting your query by taking away constraints"
Running into No Solution found on the output when I use the below usage - what am I missing?

from os import environ
from draftfast import rules
from draftfast.optimize import run_multi
from draftfast.csv_parse import salary_download, uploaders

players = salary_download.generate_players_from_csvs(
salary_file_location='./NFL_SALS.csv',
projection_file_location='./NFL_PROJECTIONS.csv',
game=rules.

[2022-09-20 22:42] BenBrostoff commented on #198
Do you mind attaching the CSVs you’re using? I can take a look and work on
debugging

On Tue, Sep 20, 2022 at 6:12 PM c0inigr ***@***.***> wrote:

[2022-09-20 22:47] rickenrocker24 commented on #198
[NFL_PROJECTIONS.csv](https://github.com/BenBrostoff/draftfast/files/9611681/NFL_PROJECTIONS.csv)
[NFL_SALS.csv](https://github.com/BenBrostoff/draftfast/files/9611682/NFL_SALS.csv)

[2022-09-20 23:25] BenBrostoff commented on #198
Thank you, will take a look

On Tue, Sep 20, 2022 at 6:47 PM c0inigr ***@***.***> wrote:

[2022-09-21 11:27] BenBrostoff commented on #198
I can repro; it looks like there are a few issues here that require a library update (1 - DEF not in lookup dict for FD, 2 - FLEX not an ordered position), should be able to get to it this week. In the short term, you can modify the positions to get this to work (issue is that `DEF` is defense in FD):

[code]

The above works for me and I think in the short term will allow you to generate lineups.

[2022-09-21 18:05] rickenrocker24 commented on #198
Thank you so much, this will get me going

[2022-09-21 21:19] rickenrocker24 commented on #182
I've attached samples of projections and salary(from FD) I used, when entering the lineup in fanduel it does not lineup and I would need to move players around to make it fit in some cases.

[MLB_SALS.csv](https://github.com/BenBrostoff/draftfast/files/9620426/MLB_SALS.csv)
[MLB_PROJECTIONS.csv](https://github.com/BenBrostoff/draftfast/files/9620427/MLB_PROJECTIONS.csv)

![image](https://user-imag

[2022-10-11 09:16] BenBrostoff commented on #182
So in example you posted, is the issue with Miranda or Smith? Looks like
former has catcher eligibility and latter has 1B

On Wed, Sep 21, 2022 at 5:19 PM c0inigr ***@***.***> wrote: